#input-box{
    color: aliceblue;
    background-color: #111827;
    border-radius: 50px;
    margin-top: 8px;
    margin-left: 20px;
    border: 1px solid #4c5871;
    outline: 0;
    background: transparent;
    height: 20px;
    width: 220px;
}